.titulo{
	color: red; 
	font-style: italic; 
	text-decoration: underline; 
	text-align: center;
}

.body {
    font-family:Arial Helvetica, sans-serif;
}

.estilo_1{    
	color: red; 
}

.estilo_2{
	color: rgba(21, 255, 0, 0.719); 
}

.left {
    text-align: left;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}


.tableStyle{
    border: 0;
    text-align: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.tableHeader {
    background: rgb(113, 117, 113);
    text-align: center;
    color: white;    
}

.tableBody {
    background: skyblue;
    text-align: center;
    color: midnightblue;    
}

.colunaTime{
    text-align: left;
    background:green;
    color: white; 
}

.lista{
    font-style: italic; 
}