
/* Alteração objeto Input */
label {
    width:150px;
    float:left;
    display:block;  
    font-style: italic;
}

input[type=text] {
    height: 30px;
    width: 50%;
    background-color: lightblue;
    font-weight: bold;    
}

input[type=text]:focus {
    width: 50%;
    background-color:white;
}

input[type=email] {
    height: 30px;
    width: 25%;
    background-color: lightblue;
    font-weight: bold;    
}

input[type=email]:focus {
    width: 25%;
    background-color:white;
}

.personalizar-select{
    height: 30px;
    width: 7%;
    border: 1px solid lightblue;;
}

.personalizar-option{
    border: 1px solid lightblue;
    background: lightblue;
    color: black;
    font-weight: bold;
}  

.personalizar-option:hover{
    background: white;
    color: black;
}

textarea {    
    height: 60px;
    width: 50%;
    background-color: white; 
}

textarea:focus {
    height: 60px;
    width: 50%;
    background-color: lightblue;
    font-weight: bold;  
}